[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.5"
psycopg2 = "==2.7.6.1"
pillow = "==9.0.1"
django-debug-toolbar = "==1.11"
django-environ = "*"
django-markdownify = "==0.8.0"
django-crispy-forms = "==1.7.2"
elasticsearch = "==6.3.1"

[requires]
python_version = "3.7"
